.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 120px;
}

.logo {
  height: 120px;
  object-fit: cover;
  width: 120px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #222;
  height: 230px;
  padding: 20px;
  color: white;
}

.heart {
  font-size: 80px;
  padding-right: 40px;
  color: red;
}

.App-title {
  font-size: 1.7em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-link {
  color: white;
  padding: 10px;
  margin: 0px 30px;
  cursor: pointer;
  font-size: 1.2em;
}

.form-link:hover {
  color: #61dafb;
}

.addGameForm {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.formContainer {
  padding: 20px;
}

.form-group {
  max-width: 200px;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  animation-name: shake;
}
